name: Build and Push to GCR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure Docker to use gcloud credentials
        run: |-
          gcloud auth configure-docker

      - name: Build and push Docker image
        # Replace with your Project ID and image name
        env:
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
          IMAGE_NAME: vulnerable-repo
          IMAGE_TAG: latest
        run: |-
          # Define the full image name
          IMAGE_FQDN=gcr.io/$PROJECT_ID/$IMAGE_NAME:$IMAGE_TAG
          
          # Build the Docker image
          docker build . --tag $IMAGE_FQDN
          
          # Push the image to GCR
          docker push $IMAGE_FQDN
